<!DOCTYPE html>
<html>
<head>
    <title>Book and Author Details</title>
</head>
<body>
    <h1>Book and Author Details</h1>

    <h2>Add Book and Author</h2>
    <form action="/add_book" method="POST">
        <label for="book_name">Book Name:</label>
        <input type="text" id="book_name" name="book_name"><br><br>
        <label for="author_name">Author Name:</label>
        <input type="text" id="author_name" name="author_name"><br><br>
        <input type="submit" value="Add">
    </form>

    <h2>Book List</h2>
    <ul>
        {% for book in books %}
        <li>{{ book }}</li>
        {% endfor %}
    </ul>

    <h2>Author List</h2>
    <ul>
        {% for author in authors %}
        <li>{{ author }}</li>
        {% endfor %}
    </ul>
</body>
</html>
